.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.nav-links > ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links > ul > li > a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.btn {
    padding: 0.5rem 1rem 0.4rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    background: linear-gradient(90deg, #fdbd2f 9%, rgb(255 172 115) 100% 100%);
    color: #fff;
}

.btn-primary {
    border: 2px solid rgb(230, 132, 20);
    background: transparent;
    color: var(--text-color);
}

.btn-primary:hover {
    background: linear-gradient(90deg, #fdbd2f 9%, rgb(255 172 115) 100% 100%);
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
}
